/*
Colors used:
Background Color (White): #FBFCFF;
Text Color (Black): #141616;
Accent Color (Orange): #EDAB26;
Secondary Color (Grey): #474747;
Secondary Color (Turquiose): #10707B;
*/
* {
  box-sizing: border-box;
}
header {
  background-color: #edab26;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  -moz-box-shadow:    5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  box-shadow:         5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #474747;
}
body {
  background-color: #fbfcff;
  font-family: "Poppins", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #141616; /*dark grey*/
}
main ul {
  width: 100%
}
p {
  width: 100%;
}
main {
  padding-top: 95px;
}
footer {
  text-align: center;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
paragraph {
  font-family: 'Source Sans Pro', sans-serif;
}
img {
  width: 100%;
}
.project-image {
  width: 50%;
}
.project-image-s {
  width: 75%
}
.project-image-m {
  width: 70%;
  padding-bottom: 20px;
}
.project-image-proto {
  width: 75%;
  padding: 10px 0px;
}
.about-me-image {
  margin-top: 20px;
}
.project-image-hifi {
  width: 75%;
  padding-bottom: 30px;
}
.project-image-hifi-2 {
  width: 55%;
  padding-bottom: 30px;
}
.project-image-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.ctr {
  text-align: center;
}
a {
  color: #169aa8; /* blue */
  text-decoration: none; /* No underlining */
}
a:hover, a:focus {
  color: #10707B; /* turquoise */
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #169aa8; /* blue */
  opacity: .8;
}
nav > ul > li > a:hover, a:focus {
  color: #169aa8; /* blue */
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav > ul > li > a:active {
  color: #169aa8; /* blue */
  opacity: .8;
}

.button {
  display: inline-block;
  background-color: #edab26; /* my orange color */
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #cc9a35; /* width of the border, type, color dark orange */
  transition: 0.2s opacity;
  margin-bottom: 10px;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  color: #d99204; /* orange */
}
.button.contact {
  background-color: transparent;
  color: #edab26; /* my orange color */
  text-transform: uppercase;
  border: 2px solid #cc9a35;
  margin-top: 30px;
}
.button.contact:hover, .button.contact:focus {
  background-color: #edab26;
  color: #ffffff;
}
.button.contact:active {
  background-color: #edab26;
  color: #ffffff;
  opacity: .8;
}
/* Layout Styling */
.col {
  width: 48%;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.about > h2 {
  font-size: 1.5em;
}
.social > ul {
  list-style-type: none; /* removes bullets */
  margin: 10px 10px;
  padding: 20px 0px 0px 0px;
}
.social > ul > li {
  display: inline; /* all items on one line */
  width: 150px;
  height: auto;
}
.social > ul > li > a {
  padding: 0 15px;
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
.lantern {
  animation: 5s lantern-move linear;
}

#about-page h3 {
  margin-top: 0;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
  text-align: center; /* Centers text */
}
#hero {
  background-color: #edab26; /* orange */
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero-span {
  display: block;
}
#aboutme {
padding: 10px;
margin: 10px;
}
.logo {
  max-width: 250px;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
@keyframes lantern-move {
  from {transform: translate(0,0);}
  to {transform: translate(0px,-130px);}
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 40px 0 13px;
  }
  nav {
    width: auto;
    float: right;
  }
  p {
    width: 80%;
  }
  body ul {
    margin-top: 0;
  }
  main ul {
    width: 85%
  }
  .col-md-6 {
    width: 50%;
    padding: 0 10px 0 5px;
  }
  .col-md-7 {
    width: 70%;
    padding: 0 10px 0 20px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 10px 0 5px;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .project-image-s {
    width: 43%
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 40px 0 13px;
  }
  nav {
    width: auto;
    float: right;
  }
  p {
    width: 80%;
  }
  body ul {
    margin-top: 0;
  }
  main ul {
    width: 60%
  }
  .col-lg-2 {
    width: 20%;
    padding: 0 10px 0 5px;
  }
  .col-lg-3 {
    width: 25%;
    padding: 0 10px 0 5px;
  }
  .col-lg-5 {
    width: 40%;
    padding: 0 10px 0 5px;
  }
  .col-lg-6 {
    width: 50%;
    padding: 0 30px 0 30px;
  }
  .col-lg-7 {
    width: 60%;
    padding: 0 10px 0 5px;
  }
  .col-lg-9 {
    width: 70%;
    padding: 0 10px 0 20px;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
  .project-image-s {
    width: 43%
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
}
