/*
Colors used:
Background Color (White): #FBFCFF;
Text Color (Black): #141616;
Accent Color (Orange): #EDAB26;
Secondary Color (Grey): #474747;
Secondary Color (Turquiose): #10707B;
*/
* {
  box-sizing: border-box;
}
header {
  background-color: #edab26;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  -moz-box-shadow:    5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  box-shadow:         5px 5px 15px 0px rgba(93, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}
nav > ul > {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #474747;
}
body {
  background-color: #fbfcff;
  font-family: "Poppins", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #141616; /*dark grey*/
}
main {
  padding-top: 133px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.50em;
  font-weight: 700;
}

h2 {
  font-size: 2.00em;
  font-weight: 700;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
paragraph {
  font-family: 'Source Sans Pro', sans-serif;
}
img {
  width: 100%;
}
.project-image {
  width: 50%;
}
.project-image-m {
  width: 75%;
}
.about-me-image {
  width: 25%;
}
a {
  color: #169aa8; /* blue */
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #474747; /* grey */
}
a:hover, a:focus {
  color: #169aa8; /* blue */
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #169aa8; /* blue */
  opacity: .8;
}
nav > ul > li > a:visited {
  color: #474747; /* grey */
}
nav > ul > li > a:hover, a:focus {
  color: #169aa8; /* blue */
  text-decoration: underline; /* Underlining when hovering over a link */
}
nav > ul > li > a:active {
  color: #169aa8; /* blue */
  opacity: .8;
}

.button {
  display: inline-block;
  background-color: #edab26; /* my orange color */
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #cc9a35; /* width of the border, type, color dark orange */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  color: #d99204;
}
.button.contact {
  background-color: transparent;
  color: #edab26;
  text-transform: uppercase;
  border: 2px solid #cc9a35;
}
.button.contact:hover, .button.contact:focus {
  background-color: #edab26;
  color: #ffffff;
}
.button.contact:active {
  background-color: #edab26;
  color: #ffffff;
  opacity: .8;
}
/* Layout Styling */
.col {
  width: 48%;
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.social > ul > {
  list-style-type: none; /* removes bullets */
  margin: 10px 10px;
  padding: 30px;
}
.social > ul > li {
  display: inline; /* all items on one line */
  width: 150px;
  height: auto;
}
.social > ul > li > a {
  padding: 0 15px;
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }
#hero h1 {
  text-align: center; /* Centers text */
}
#hero {
  background-color: #edab26; /* orange */
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#aboutme {
padding: 10px;
margin: 10px;
}
.logo {
  max-width: 250px;
}
